.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px;
	border-radius: 8px;
	background: #05386b;
	border: none;
	cursor: pointer;
	color: #000000;
	font-size: 20px;
}

.btn:hover {
	background-color: #01172d;
}

.btn svg {
	color: #edf5e1;
}

@media (max-width: 480px) {
.btn {
	padding: 2px;
	border-radius: 4px;
	font-size: 16px;
}
}